<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MariaDB project</title>
    <link rel="stylesheet" href="/styles/app.css">
</head>
<body>
    <header>
        <a href="/">Yoga Blog</a>
        <hr>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>